# Don't inherit PATH and LD_LIBRARY_PATH.
build --incompatible_strict_action_env

# TODO(aaronmondal): Remove this once we get the build working without it.
common --noincompatible_sandbox_hermetic_tmp

# Enforce C++20 as the default for rules_cc, regardless of toolchain config.
build --cxxopt=-std=c++20 --host_cxxopt=-std=c++20

# Since expect rules_cc targets to be mainly exec_tools, use O3.
build --cxxopt=-O3 --host_cxxopt=-O3

# Forbid network access unless explicitly enabled.
build --sandbox_default_allow_network=false

# Use correct runfile locations.
build --nolegacy_external_runfiles

# Enable sandboxing for exclusive tests like GPU performance tests.
test --incompatible_exclusive_test_sandboxed

# Make sure rules_cc uses the correct transition mechanism.
build --incompatible_enable_cc_toolchain_resolution

# Propagate tags such as no-remote for precompilations to downstream actions.
common --incompatible_allow_tags_propagation

# Bzlmod configuration.
common --enable_bzlmod
common --registry=https://raw.githubusercontent.com/bazelbuild/bazel-central-registry/main/
common --registry=https://raw.githubusercontent.com/eomii/bazel-eomii-registry/main/

# Make sure to use the correct java runtime.
build --java_runtime_version=rbe_jdk
build --tool_java_runtime_version=rbe_jdk

# Always act as if using remote execution.
build --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build --define=EXECUTOR=remote

# Remote optimizations.
build --experimental_remote_cache_compression
build --experimental_remote_build_event_upload=minimal
build --remote_download_minimal
build --nolegacy_important_outputs

# Smaller profiling. Careful. Disabling this might explode remote cache usage.
build --slim_profile
build --experimental_profile_include_target_label
build --noexperimental_profile_include_primary_output

# This config should only be used to test remote execution locally.
build:rbe_local --experimental_docker_image=localhost:5000/rules_ll_remote:latest
build:rbe_local --noexperimental_docker_use_customized_images
build:rbe_local --spawn_strategy=docker --strategy=Javac=docker --genrule_strategy=docker
build:rbe_local --experimental_enable_docker_sandbox
build:rbe_local --experimental_docker_verbose

# Allow user-side customization.
try-import %workspace%/.bazelrc.user

# Workaround to build docs. Only required in rules_ll project root.
build:docs --noremote_accept_cached
