# Upstream LLVM/Clang requires C++17. This will only configure rules_cc.
common --repo_env=BAZEL_CXXOPTS='-std=c++17:-O3'

# Separate the toolchain from regular code. This will put execution artifacts
# into bazel-out/ll_linux_exec_platform-opt-exec-<hash>.
common --experimental_platform_in_output_dir

# We require bzlmod.
common --experimental_enable_bzlmod

# We use a custom registry.
common --registry=https://raw.githubusercontent.com/eomii/bazel-eoii-registry/llvm-project-overlay/

# We need temporarily unresolved symlinks for CUDA.
common --experimental_allow_unresolved_symlinks
