<a id="${funcInfo.functionName}"></a>

#[[##]]# ${funcInfo.functionName}

<pre>
${util.funcSummary($funcInfo)}
</pre>
${util.htmlEscape($funcInfo.docString)}
#if (!$funcInfo.getParameterList().isEmpty())
`parameters`

| Name  | Description |
| :---- | :---------- |
#foreach ($param in $funcInfo.getParameterList())
| <a id="${funcInfo.functionName}-${param.name}"></a>`$param.name` | #if(!$param.getDefaultValue().isEmpty()) defaults to `${util.htmlEscape($param.getDefaultValue())}`.<br><br>#else#end#if(!$param.docString.isEmpty())${util.markdownCellFormat($param.docString)} #else#end |
#end
#end
#if (!$funcInfo.getReturn().docString.isEmpty())

`returns`

${util.htmlEscape($funcInfo.getReturn().docString)}
#end
#if (!$funcInfo.getDeprecated().docString.isEmpty())

`deprecated`

${util.htmlEscape($funcInfo.getDeprecated().docString)}
#end
