---
name: pre-commit
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions: read-all

jobs:
  pre-commit-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Nix
        uses: cachix/install-nix-action@v20
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Cache Nix artifacts
        uses: actions/cache@v3.3.1
        with:
          key: "${{ runner.os }}-nix-${{
            hashfiles('flake.lock', 'flake.nix', 'pre-commit.nix') }}"
          path: ~/nix
          restore-keys: |
            ${{ runner.os }}-nix-${{
              hashfiles('flake.lock', 'flake.nix', 'pre-commit.nix') }}
            ${{ runner.os }}-nix-
      - name: Run pre-commit hooks
        run: |
          nix --store ~/nix flake check -L
