---
name: pre-commit
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions: read-all

jobs:
  pre-commit-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: >- # v3.5.2
          actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
      - name: Install Nix
        uses: >- # v20
          cachix/install-nix-action@29bd9290ef037a3ecbdafe83cbd2185e9dd0fa0a
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Cache Nix artifacts
        uses: >- # v3.3.1
          actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8
        with:
          key: "${{ runner.os }}-nix-${{
            hashfiles('flake.lock', 'flake.nix', 'pre-commit.nix') }}"
          path: ~/nix
          restore-keys: |
            ${{ runner.os }}-nix-${{
              hashfiles('flake.lock', 'flake.nix', 'pre-commit.nix') }}
            ${{ runner.os }}-nix-
      - name: Run pre-commit hooks
        run: |
          nix --store ~/nix flake check -L
